//variables
$default:#0088FF;
$tab_nor: #7F7F7F;
$white: #fff;

//mixin
@mixin flex($position) {
    display: flex;
    align-items: center;
    justify-content: $position;
}

@mixin fc($position) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $position;
}


@function rem ($px) {
    @return $px/18.75+rem;
}

@mixin lh($unit) {
    height: $unit;
    line-height: $unit;
}

@mixin line-clamp($line) {
    display: -webkit-box;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
     /* autoprefixer: on */
    -webkit-line-clamp: $line;
    overflow: hidden;
}